@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

body {
    background-color: #243940;
  }
  
label{
  font-family: 'Proxima Nova', sans-serif'
}
h1 {
    color: white;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 2px pink;

  }

h1:hover{
    font-size:55px;
    transition: all 150ms;
}
  
p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
}

datalist{
  font-family: 'Proxima Nova', sans-serif;
}

div.form
{
    display: block;
    text-align: center;
    font-family: 'Proxima Nova 800', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
    text-shadow: 1px 1px 2px black;
}

div.tables{
  font-family: 'Proxima Nova 800', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

input[type=submit]{  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  color: #fff;

}
input[type=submit]:active{
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 22px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  color: #fff;
}

.box{
  font-family: 'Proxima Nova 800', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}