@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

body {
    background-color: #243940;
  }
  
label{
  font-family: 'Proxima Nova', sans-serif'
}
h1 {
    color: white;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 2px pink;

  }

h1:hover{
    font-size:55px;
    transition: all 150ms;
}
  
p {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
}

datalist{
  font-family: 'Proxima Nova', sans-serif;
}

.form{
  font-family: 'Proxima Nova 800', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  margin: auto;
  text-shadow: 1px 1px 2px black;
}

.tables{
  font-family: 'Proxima Nova 800', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

input[type=submit]{
  background-color: #136861;
  border-radius: 3px;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Proxima Nova 800', sans-serif;
}