<!DOCTYPE html>

<html>
    <head>
        <title>ContextStats</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>    
   
<body>

       

    <link rel="stylesheet" href="./home.css">

    
    <h1>contextstats ⚽</h1>
    <div class = "form">
        <form action="/send_data" method="post">
            <label for="suggestions">CHOOSE PLAYER 1:</label>
            <datalist id="suggestions">
                {% for row in data %}
                <option value="{{ row['Name'] }}">
                {% endfor %}
            </datalist>
            <input class = "box" name="data1" autoComplete="on" list="suggestions"  onchange="resetIfInvalid(this);" required >
            <br>
            <label for="suggestions">CHOOSE PLAYER 2:</label>
            <datalist id="suggestions">
                {% for row in data %}
                <option value="{{ row['Name'] }}">
                {% endfor %}
            </datalist>
            
            <input class = "box" name="data2" autoComplete="on" list="suggestions"  onchange="resetIfInvalid(this);" required >
            <br> <br>
            <input class = "button" type="submit" value="GENERATE">
        </form>
    </div>
    
    <br><br>
    <div class = "tables" >


        {{ fin|safe }}
    </div>
</body>
<script>
    function resetIfInvalid(el){
       if (el.value == "")
           return;
       var options = el.list.options;
       for (var i = 0; i< options.length; i++) {
           if (el.value == options[i].value)
               return;
       }
       el.value = "";
    }
    </script>
</html>